################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestConverterConsoleApp/bin
/TestConverterConsoleApp/obj
/src/HtmlToPdfConverter/bin
/src/HtmlToPdfConverter/obj
/tests/HtmlToPdfConverter.Tests/bin
/tests/HtmlToPdfConverter.Tests/obj 