################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HtmlToPdfConverter/bin
/HtmlToPdfConverter/obj
/HtmlToPdfConverter.Tests/bin
/HtmlToPdfConverter.Tests/obj 